// colors
$white: #fff
$black: #000
$light: #f7f7f7
$mainTextColor: #231f20
$violet: #924592

$grad: linear-gradient(82deg, #1e91d0 0%, #5853a3 48%, #a44298 100%)

$montserrat: 'Montserrat', Helvetica, sans-serif