<div class="about js-navigation-section" id="about" data-scroll-trigger>
  <div
    class="about__inner inner"
    data-anim-group
    data-duration-anim="1"
    data-delay-anim="0.15"
  >
    <div class="about__wrapper">
      <div class="about__image-wrapper" data-anim="from-right">
        <div class="about__image image-card">
          <div
            class="image-card__image"
            style="background-image: url(./img/about_new_bg.png)"
          ></div>
        </div>
      </div>
      <div class="about__text-wrapper" data-anim="from-left">
        <div class="text-card">
          <div class="text-card__inner">
            <div class="text-card__title title">About us</div>
            <div class="text-card__content">
              Payme Swiss AG is a company with a solid track in the card and
              financial industry. It was founded by experts with a bank card
              background from leading card companies in the world and by
              financial experts with a long track in FinTech and wealth
              management industries. Payme Swiss has possibility to provide
              unique card program experience on the EEA markets with a special
              focus on wearable payments, tokenization and FinTech
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
