<div class="about">
  <div class="about__inner inner">
    <div class="about__wrapper wrapper" style='background-image: url(./img/about_bg@2x.png)'>
      <h3 class="about__title title">About us</h3>
      <div class="text-block">Payme Swiss AG is a company with a solid track in the card and financial industry. It was founded by experts with a bank card background from leading card companies in the world and by financial experts with a long track in FinTech and wealth management industries. Payme Swiss has possibility to provide unique card program experience on the EEA markets with a special focus on wearable payments, tokenization and FinTech</div>
    </div>
  </div>
</div>