<div class="clients">
	<div class="clients__inner inner">
		<div class="clients__wrapper wrapper">
			<h3 class="clients__title title section-title">Tokenization – Apple Pay, Samsung Pay, Android pay enabled</h3>
			<div class="text-block">Our philosophy is that the end-users shall be able to pay with anything they want to pay with. That is why we decided to enable our cards to be used also at Apple Pay, Samsung Pay and Android Pay</div>
			<div class="clients__logos" data-scroll-trigger='150' data-anim-group data-delay-anim='0.1'>
				{% for item in [
					'apple_pay.png',
					'samsung_pay.png',
					'android_pay.png',
					'rosan_pay.png',
					'garmin_pay.png'
				] %}
					<div class="clients__logo" data-anim='from-bottom'>
						<img src="./img/{{ item }}" alt="">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>