<div class="features js-navigation-section" id="services">
  <div class="features__inner inner">
    <div class="features__wrapper js-mobile-slider">
      {% for feature in [
        {
          title: 'Regulatory compliance',
          text: 'With our experience with management of affluent, HNWI and UHNWI customers and team of leading compliance consultants, we are ready to provide you continuous monitoring of your card program.',
          icon: 'regulatory',
          color: 'red-gradient'
        },
        {
          title: 'Customer onboarding',
          text: 'For each new card program it is important to onboard customers fast and in compliance with the existing laws. We are working in close partnership with leading eKYC providers in order to make onboarding efficient, reliable and fast.',
          icon: 'customers',
          color: 'main-gradient'
        },
        {
          title: 'Fraud mitigation',
          text: 'We are using award winning fraud mitigation software to achieve highest security standards for your program.',
          icon: 'shield',
          color: 'blue-gradient'
        },
        {
          title: '360° program management',
          text: 'We are able to provide out clients a one-stop-shop for your program. Would like to introduce concierge service for your card clients? Introduce unique card or wearable designs? Have a unique app experience? We can tackle all of your needs so you can focus on the business development.',
          image_text: '360°',
          color: 'red'

        }
      ] %}
      <div class="features__item">
        <div class="feature">
          <div class="feature__image feature__image_{{ feature.color }}">
            {% if feature.icon %}
              {{ mixins.icon(feature.icon) }}
            {% else  %}
              <div class="feature__image-text">{{ feature.image_text }}</div>
            {% endif %}
          </div>
          <h3 class="feature__title title">{{ feature.title }}</h3>
          <div class="feature__text">{{ feature.text }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

