<div class="footer">
  <div class="footer__inner inner">
    <div class="footer__logo">
      <div class="logo logo_big logo_white">
        <img class="logo__image" src="./img/logo.svg" alt="logo" />
        <h1 class="logo__text">Payme Swiss</h1>
      </div>
    </div>
    <div class="footer_details">
      <ul class="details">
        <li class="details__item"><a href="#" class="details__link">Imprint</a></li>
        <li class="details__item"><a href="#" class="details__link">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer__mastercard">
      <a href="#" class="mastercard">
        <img src="./img/mastercard.png" alt="mastercard">
      </a>
    </div>
  </div>
</div>
