<header class="header js-header">
  <div class="header__inner inner">
    <div class="header__wrapper">
      <div class="header__burger">
        <div class="burger js-mob-toggler">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header__logo">
        <a href="/" class="logo">
          <img class="logo__image" src="./img/logo.svg" alt="logo"/>
          <h1 class="logo__text">Payme Swiss</h1>
        </a>
      </div>
      <div class="header__nav">
        <nav class="main-nav">
          <ul class="main-nav__list">
            {% for item in[
              {
                text: 'Products',
                link: 'products'
              }, {
                text: 'Services',
                link: 'services'
              }, {
                text: 'About us',
                link: 'about'
              }
            ] %}
              <li class="main-nav__item">
                <a href="{{ item.link }}" class="main-nav__link">
                  <span>{{ item.text }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>