<div class="hero">
  <div class="hero__inner inner">
    <div class="hero__wrapper">
      <div class="hero__left">
        <div
          class="hero__left-bg"
          style="background-image: url(./img/hero_jewerly.png)"
        ></div>
      </div>
      <div class="hero__right">
        <div
          class="hero__right-bg"
          style="background-image: url(./img/hero_girl.jpg)"
        ></div>
      </div>
      <div class="hero__center">
        <div class="hero__title">
          Exceptional payment experience for you clients
        </div>
        <div class="hero__text">
          We offer jewellery, fashion companies and financial institutions means
          to provide their customers with unique payment experience by providing
          secure and innovative prepaid solutions
        </div>
      </div>
    </div>
  </div>
</div>
