<div class="luxury">
  <div class="luxury__inner inner">
    <div class="luxury__wrapper wrapper">
      <div class="luxury__images">
        <img class="luxury__circle luxury__circle_left" src="./img/luxury_circle_1@2x.png" alt="luxury">
        <img class="luxury__main-image" src="./img/luxury_image@2x.png" alt="luxury">
        <img class="luxury__circle luxury__circle_right" src="./img/luxury_circle_2@2x.png" alt="luxury">
      </div>
      <div class="luxury__title title-lg">Luxury</div>
      <div class="luxury__subtitle title section-title">Luxury payment devices</div>
      <div class='text-block'>We are the only program manager worldwide that can create unique and bespoke jewellery payment wearables. Specially the HNWI and UHNWI clients enjoy to have a unique payment product which is tailor-made according to the customer’s ideas. Be it a unique jewellery card, a specially designed key fob with diamonds or a money clip with a 2000 year old coin – we can create all of that.</div>
    </div>
  </div>
</div>

