<div class="solutions">
  <div class="solutions__inner inner">
    <div class="solutions__wrapper">
      <h3 class="solutions__title title section-title">
        Turnkey solutions
      </h3>
      <div class="text-block">
        Our goal is to provide all of the services needed to operate your program, starting from consulting to app development, card and wearable certification and production, and concierge services.
      </div>
      <div class="solutions__btn" data-scroll-trigger='200'>
        <div class="solutions-cta">
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <img
            class="solutions-cta__img"
            src="./img/logo-2.svg"
            alt="solutions-logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
