<div class="solutions">
  <div class="solutions__inner inner">
    <div class="solutions__wrapper">
      <h3 class="solutions__title title">
        Turnkey solutions
      </h3>
      <div class="text-block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore deleniti
        perferendis, alias doloremque maxime amet soluta dolore, facere totam
        repudiandae veritatis corrupti accusantium asperiores repellat eos,
        nostrum nihil delectus! Perspiciatis!
      </div>
      <div class="solutions__btn" data-scroll-trigger>
        <div class="solutions-cta">
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <span class="solutions-cta__arrow">{{ mixins.icon('arrow') }}</span>
          <img
            class="solutions-cta__img"
            src="./img/logo-2.svg"
            alt="solutions-logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
