<div class="wearables js-navigation-section" id="products"  data-tabs="data-tabs">
  <div class="wearables__inner inner">
    <div class="wearables__wrapper">
      <div class="wearables__texts" data-tabs-wrapper="data-tabs-wrapper">
        <div class="wearables__text" data-tabs-container="bracelets">
          <h3 class="title">Wearables</h3>
          <p>
            We are proud to be the first program manager provide unique passive payment wearables (without battery) certified by Mastercard for your program:
          </p>
        </div>
        <div class="wearables__text" data-tabs-container="keyFobs">
          <h3 class="title">Wearables_2</h3>
          <p>
              We are proud to be the first program manager provide unique passive payment wearables (without battery) certified by Mastercard for your program:
        </div>
        <div class="wearables__text" data-tabs-container="other">
          <h3 class="title">Wearables_3</h3>
          <p>
              We are proud to be the first program manager provide unique passive payment wearables (without battery) certified by Mastercard for your program:
          </p>
        </div>
      </div>
      <div class="wearables__images" data-tabs-wrapper="data-tabs-wrapper">
          <div class="wearables__image" data-tabs-container="bracelets"><img src="./img/bracelets@2x.png" alt=""></div>
          <div class="wearables__image" data-tabs-container="keyFobs"><img src="./img/hero_jewerly.png" alt=""></div>
          <div class="wearables__image" data-tabs-container="other"><img src="./img/hero_girl.jpg" alt=""></div>
        </div>
      <div class="wearables__tabs">
        <div class="tabs">
          <div class="tabs__out">
            <div class="tabs__current" data-tabs-current="data-tabs-current">
              <span></span>
            </div>
            <ul class="tabs__list">
              {% for item in[
                {
                  id: 'bracelets',
                  text: 'Bracelets'
                }, {
                  id: 'keyFobs',
                  text: 'Key Fobs'
                }, {
                  id: 'other',
                  text: 'Other products'
                }
              ] %}
                <li class="tabs__item" data-tabs-control="{{ item.id }}">
                  <span>{{ item.text }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="wearables__info-wrapper">
        <div class="wearables__info">
          <span>No battery needed</span>
          <span class="battery">
            <span class="battery__line"></span>
            {{ mixins.icon('battery_full') }}
            <!-- {{ mixins.icon('battery') }} -->
          </span>
          
        </div>
        
      </div>
    </div>
  </div>

</div>