// .about
//   margin-bottom: 30px
//   &__wrapper
//     padding: 50px 0
//     background-position: 49px 0
//     background-size: contain
//     background-repeat: no-repeat

.about
  +clr
  margin-bottom: 50px
  &__inner
    position: relative
  &__image-wrapper
    position: absolute
    right: 0
    top: 0
    width: 58.4%
  &__image
    +cover
    padding-bottom: 70%
  &__text-wrapper
    position: relative
    float: left
    margin-top: 60px
    width: 53.5%
    z-index: 5

.text-card
  padding: 113px 62px 115px
  background-color: $white
  text-align: center
  box-shadow: 0 22px 44px -11px rgba($black, 0.16)
  &__title
    margin-bottom: 8px
