.feature
  padding: 35px 20px 30px
  text-align: center
  background-color: $white
  position: relative
  backface-visibility: hidden
  &:after
    z-index: -1
    content: ''
    +coverdiv
    background-color: $white
    transition: transform 0.4s
    transform-origin: center
    box-shadow: 0 10px 24px -10px rgba($black, 0.09)
    backface-visibility: hidden
  +hover
    &:after
      transform: scale(1.03)
  &__image
    display: inline-block
    +circle(90)
    position: relative
    margin-bottom: 8px
    +sm
      margin-bottom: 4px
    &_red-gradient
      background-image: $redGrad
    &_main-gradient
      background-image: $grad
    &_blue-gradient
      background-image: $blueGrad
    &_red
      background-color: $red
    .icon
      +vcenter
      font-size: 36px
      color: $white
  &__image-text
    +vcenter
    color: $white
    font-size: 25px
    font-weight: 600
    line-height: 1
  &__title
    max-width: 120px
    margin: 0 auto 10px

.features
  margin-bottom: 40px 
  +sm 
    margin-bottom: 16px
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: stretch
    margin: 0 -5px
    +sm 
      margin: 0 auto
      +fadeout($tr)
      &.slick-initialized
        +fadein
    
  &__item
    +flex-size(25%)
    padding: 0 5px
    +lg 
      +flex-size(50%)
      margin-bottom: 10px
    +sm 
      padding: 0 10px
      height: 100%
    .feature
      height: 100%
  .slick-track
    display: flex
  .slick-slide 
    max-width: 262px
    height: auto
    & > div
      height: 100%

    // .feature
    //   min-height: 489px
