.luxury
  margin-bottom: 20px
  &__wrapper
    position: relative
    padding-top: 114px
    padding-bottom: 70px
    +sm
      padding: 130px 24px 32px
  &__images
    display: flex
    justify-content: center
    align-items: flex-start
    position: absolute
    top: -140px
    left: 0
    width: 100%
    animation: soar 3.5s ease-in-out infinite
    backface-visibility: hidden
    +sm 
      top: -60px
  &__main-image
    max-width: 440px
    +sm 
      max-width: 300px
      margin-right: -10px
  &__circle
    margin-top: 78px
    max-width: 113px
    +sm 
      display: none
    &_left
      margin-right: 39px
    &_right
      margin-left: 11px
  &__title
    margin-bottom: 19px

@keyframes soar
  0%, 100% 
    transform: translate3d(0,0,0)
  50%
    transform: translate3d(0,-10px,0)

@keyframes fadeShadow
  0%, 100% 
    opacity: 1
  50%
    opacity: 0.2