.prepaid
  margin-bottom: 170px
  padding-top: 176px
  +sm 
    padding-top: 144px
    margin-bottom: 90px
  &__wrapper
    background-color: $white
    position: relative
    text-align: center
    padding-top: 336px
    padding-bottom: 60px
    +sm
      padding: 208px 30px 30px
  &__cards-stack
    text-align: center
    position: absolute
    top: -50px
    left: 50%
    transform: translateX(-50%)
    z-index: 3
    width: 100%
    &.is-hidden
      +fadeout(0s)
  &__card-tabs
    &[data-tabs-wrapper]
      position: absolute
      top: -132px
      left: 50%
      min-height: 427px
      transform: translateX(-50%)
      width: 100%
      font-size: 0
      .prepaid__cards-stack
        top: 0
        +sm
          top: 60px
      +sm
        top: -110px
    img
      max-width: 100%
      display: inline-block
  &__card-tab[data-tabs-container]
    min-height: 427px
    &.is-open
      display: flex
      justify-content: center
      align-items: flex-start
      
      height: 100%
      .prepaid__virtual-card:after
        display: block
  &__title
    position: absolute
    top: 252px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    +lg
      top: 302px
    &.is-hidden
      display: none
  &__card
    margin-top: 82px
    +sm
      margin-top: 30px
    img
      max-width: 462px
      max-height: 360px
      +sm
        max-width: 300px
  &__virtual-card
    position: relative
    // margin-top: auto
    margin-top: 10px
    // margin-top: -72px
    +sm
      margin-top: 15px
    img
      max-width: 400px
      max-height: 417px
      +sm
        max-width: 200px
    &:after
      display: none
      content: ''
      position: absolute
      bottom: -3px
      left: -135px
      right: -135px
      height: 3px
      background-color: rgba(#d8d8d8, 0.48)
      +sm
        right: -30px
        left: -30px

.cards-stack
  position: relative

.parallax-card
  display: inline-block
  position: absolute
  left: 50%
  transform: translateX(-50%)
  transition: transform 0.8s ease-in-out
  pointer-events: none
  @for $i from 1 through 4
    &:nth-child(#{$i})
      top: ($i - 1) * 32 + px
      z-index: 10 - $i
      +sm 
        top: ($i - 1) * 26 + px
  .is-animate &
    @for $i from 1 through 4
      &:nth-child(#{$i})
        transform: translate(-50%, -1 * (4 - $i) * 34 + px)
        +sm 
          transform: translate(-50%, -1 * (4 - $i) * 20 + px)
  &:last-child
    img
      max-width: 417px
      +sm 
        max-width: 291px
  img
    max-width: 343px
    display: block
    +sm 
      max-width: 240px
