[data-tabs]
  overflow: hidden
  [data-tabs-control]
    cursor: pointer

    &[disabled],
    &.is-disabled
      // cursor: not-allowed
      // +nosel
  [data-tabs-wrapper]
    position: relative
  [data-tabs-container]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0
    visibility: hidden
    transition: opacity $tr, visibility $tr
    &.is-open
      position: relative
      display: flex
      opacity: 1
      visibility: visible

[data-tabs-current]
  display: none

.tabs
  &__list
    display: flex
    flex-direction: column
    .tabs_bg &
      flex-direction: row
      justify-content: center
    +sm
      flex-direction: row
      justify-content: flex-start
      margin: 0 -10px
      flex-wrap: nowrap
      overflow: auto
      .tabs_bg &
        flex-direction: column
        align-items: center
  &__item
    display: block
    color: $violet
    font-size: 0
    +sm 
      padding: 0 10px
      flex-grow: 1
      opacity: 0.4
    .tabs_bg &
      color: $mainTextColor
      margin: 0 6px
      padding: 10px 15px 
      background-color: $light
      +md 
        padding: 10px
        margin: 0 3px
      +sm 
        opacity: 1
        width: 237px
    &:not(:last-child)
      margin-bottom: 18px
      .tabs_bg &
        margin-bottom: 0
        +sm
          margin-bottom: 12px
    &.is-active
      +sm 
        opacity: 1
      span:after
        transform: translateX(0)
      .tabs_bg &
        background-image: $grad
        color: $white
        +hover
          opacity: 0.8
    span
      +bigText
      display: inline-block
      position: relative
      overflow: hidden
      padding-bottom: 5px
      .tabs_bg &
        padding-bottom: 0
      +sm 
        white-space: nowrap
      +hover
        &:after
          transform: translateX(0)
      &:after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        height: 2px
        width: 100%
        background-color: $violet
        transform: translateX(-100%)
        transition: transform 0.4s
        .tabs_bg &
          display: none
  &__wrapper
    max-width: 518px
    margin: 0 auto
    margin-top: 30px
  &__container
    min-height: 100px
    +md
      min-height: auto