.icon-arrow {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
.icon-battery {
  width: 1.96em;
  height: 1em;
  fill: currentColor;
}
.icon-battery_full {
  width: 1.96em;
  height: 1em;
  fill: currentColor;
}
.icon-customers {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-regulatory {
  width: 1.02em;
  height: 1em;
  fill: currentColor;
}
.icon-shield {
  width: 0.86em;
  height: 1em;
  fill: currentColor;
}
